{% extends "base.html" %}

{% block body_content %}
  <!--新闻展示-->
  <div class='row news_form'>
    <div class='col-md-10'>
      <div class='row news_show'>
	<div class='col-md-2 news_show_image'>
	  <img src='/images/sina.png'></img>
        </div>
	<div class='col-md-10 news_show_content'>
	  <a src=''>
	      小米应用商店全线下架360产品
	  </a>
	  <p>
	    小米公司今日宣布，小米应用商店全线下架 360 产品，因其恶意诱导用户，根据其官方微博描述，9月26日22点，大量网友举报360手机助手在没有给出任何理由的情况下，建议用户卸载小米应用商店、百度地图等应用。
	  </p>
	  <p class='news_show_time'>
	    32分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>来自，  新浪科技</span>
	  </p>
        </div>
      </div> 
    </div>
  </div>
  <div class='row news_form'>
    <div class='col-md-9 col-md-offset-1 news_show_line'>
    </div>
  </div>
  

  <!--新闻展示-->
  <div class='row news_form'>
    <div class='col-md-10'>
      <div class='row news_show'>
        <div class='col-md-2 news_show_image'>
          <img src='/images/sohu.png'></img>
        </div>
        <div class='col-md-10 news_show_content'>
          <a src=''>
              阿里的IM-来往,为什么难成功
          </a>
          <p>
            张小龙终于帮助腾讯树立了第一个真正意义的创新，让微信成了腾讯第一个被中国互联网其他公司抄袭、山寨的产品天才啊！谁说的来着，第一个做的是天才，第二个做的是人才，第三个做的是#@￥%??才！现在，第三个来了,刚刚飘过易信，又出了-来往。
          </p>
          <p class='news_show_time'>
            32分钟前&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>来自，  新浪科技</span>
          </p>
	</div>
      </div>
    </div>
  </div>
  <div class='row news_form'>
    <div class='col-md-9 news_show_line'>
    </div>
  </div>  

{% endblock %}
