{% extends "base.html" %}

{% block body_content %}
<link href="/css/main.css" rel='stylesheet' type='text/css' /> 
   <div class='row'>
	<div class='my_breadcrumb'>
   		<ol class="breadcrumb" style='text-decoration:none'>
  			<li><a href="/main">首页</a></li>
  			<li><a href="/listproject/{{project.ProjectSort}}">{{project.ProjectSort}}</a></li>
  			<li class="active">正文</li>
  		 </ol>
	</div>
   </div>
   <div class='example_form'>
	<div class='example_title'>
		{{project.ProjectTitle}}
	</div>
	<p class='example_date'>
		{{project.ProjectDate}}&nbsp;&nbsp;&nbsp;&nbsp;来自&nbsp;&nbsp;&nbsp;&nbsp;{{project.ProjectSource}}
	</p>
	<pre class='example_content'>
		{% if project.ProjectLogo = 'most'%}
			{{content}}
		{% else %}{% if project.ProjectLogo = 'nsfc' %}
			{{ project.ProjectContent|cut:"&nbsp;"}}
		{% endif %}{% endif %}
	</pre>	
    </div>
{% endblock %}
